/* Reset All */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

html {
	background-color: #282828;
}

body {
	background-color: #282828;

	/* CSS TRANSITION */
	-webkit-transition: background-color 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out;
	transition: background-color 1s ease-in-out;
}

svg {
	width: 100%;
	height: 100%;
	overflow: visible;
	padding: 5%;
	box-sizing: border-box;

    /* background-color: purple; */
}
line {
	stroke: black;
	stroke-width: 0.01;
}
.points {
	fill: transparent;
	cursor: pointer;
}
.points:hover {
	fill: white;
}

#pointLabel {
	position: fixed;

	width: 732px;
	height: 732px;

    pointer-events: none;
}
#pointLabel p {
	font-family: 'Rubik One', sans-serif;
    font-size: 12em;
    text-align: center;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.5);
}