!!!
%html{:lang => "en"}
  %head
    %title Pente
    %meta{:charset => "utf-8"}/
    %meta{:content => "First Last", :name => "author"}/
    %meta{:content => "key,words,here", :name => "keywords"}/
    %meta{:content => "This is my site.", :name => "description"}/
    / Favicon
    %link{:href => "images/favicon.png", :rel => "icon", :type => "image/png"}/
    / Stylesheet
    %link{:href => "assets/css/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Hammersmith+One|Rubik+One", :rel => "stylesheet", :type => "text/css"}/
    / Script
    / <script type="text/javascript" src="createGrid.js"></script>
  %body
    / SVG
    %svg#grid{:preserveaspectratio => "xMidYMid", :version => "1.1", :viewbox => "0 0 36 36", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %defs
        %g#points
          %circle{:cx => "0", :cy => "0", :r => "1"}
          %rect{:height => "2", :width => "2", :x => "-1", :y => "-1"}
      %g#gridLines
        / rows
        %line.grid-border{:x1 => "-0.25", :x2 => "36.25", :y1 => "-0.25", :y2 => "-0.25"}
        %line{:x1 => "0", :x2 => "36", :y1 => "0", :y2 => "0"}
        %line{:x1 => "0", :x2 => "36", :y1 => "2", :y2 => "2"}
        %line{:x1 => "0", :x2 => "36", :y1 => "4", :y2 => "4"}
        %line{:x1 => "0", :x2 => "5.75", :y1 => "6", :y2 => "6"}
        %line{:x1 => "6.25", :x2 => "17.75", :y1 => "6", :y2 => "6"}
        %line{:x1 => "18.25", :x2 => "29.75", :y1 => "6", :y2 => "6"}
        %line{:x1 => "30.25", :x2 => "36", :y1 => "6", :y2 => "6"}
        %line{:x1 => "0", :x2 => "36", :y1 => "8", :y2 => "8"}
        %line{:x1 => "0", :x2 => "36", :y1 => "10", :y2 => "10"}
        %line{:x1 => "0", :x2 => "11.75", :y1 => "12", :y2 => "12"}
        %line{:x1 => "12.25", :x2 => "23.75", :y1 => "12", :y2 => "12"}
        %line{:x1 => "24.25", :x2 => "36", :y1 => "12", :y2 => "12"}
        %line{:x1 => "0", :x2 => "36", :y1 => "14", :y2 => "14"}
        %line{:x1 => "0", :x2 => "36", :y1 => "16", :y2 => "16"}
        %line.grid-middle{:x1 => "0", :x2 => "5.75", :y1 => "18", :y2 => "18"}
        %line.grid-middle{:x1 => "6.25", :x2 => "17.75", :y1 => "18", :y2 => "18"}
        %line.grid-middle{:x1 => "18.25", :x2 => "29.75", :y1 => "18", :y2 => "18"}
        %line.grid-middle{:x1 => "30.25", :x2 => "36", :y1 => "18", :y2 => "18"}
        %line{:x1 => "0", :x2 => "36", :y1 => "20", :y2 => "20"}
        %line{:x1 => "0", :x2 => "36", :y1 => "22", :y2 => "22"}
        %line{:x1 => "0", :x2 => "11.75", :y1 => "24", :y2 => "24"}
        %line{:x1 => "12.25", :x2 => "23.75", :y1 => "24", :y2 => "24"}
        %line{:x1 => "24.25", :x2 => "36", :y1 => "24", :y2 => "24"}
        %line{:x1 => "0", :x2 => "36", :y1 => "26", :y2 => "26"}
        %line{:x1 => "0", :x2 => "36", :y1 => "28", :y2 => "28"}
        %line{:x1 => "0", :x2 => "5.75", :y1 => "30", :y2 => "30"}
        %line{:x1 => "6.25", :x2 => "17.75", :y1 => "30", :y2 => "30"}
        %line{:x1 => "18.25", :x2 => "29.75", :y1 => "30", :y2 => "30"}
        %line{:x1 => "30.25", :x2 => "36", :y1 => "30", :y2 => "30"}
        %line{:x1 => "0", :x2 => "36", :y1 => "32", :y2 => "32"}
        %line{:x1 => "0", :x2 => "36", :y1 => "34", :y2 => "34"}
        %line{:x1 => "0", :x2 => "36", :y1 => "36", :y2 => "36"}
        %line.grid-border{:x1 => "-0.25", :x2 => "36.25", :y1 => "36.25", :y2 => "36.25"}
        / cols
        %line.grid-border{:x1 => "-0.25", :x2 => "-0.25", :y1 => "-0.25", :y2 => "36.25"}
        %line{:x1 => "0", :x2 => "0", :y1 => "0", :y2 => "36"}
        %line{:x1 => "2", :x2 => "2", :y1 => "0", :y2 => "36"}
        %line{:x1 => "4", :x2 => "4", :y1 => "0", :y2 => "36"}
        %line{:x1 => "6", :x2 => "6", :y1 => "0", :y2 => "5.75"}
        %line{:x1 => "6", :x2 => "6", :y1 => "6.25", :y2 => "17.75"}
        %line{:x1 => "6", :x2 => "6", :y1 => "18.25", :y2 => "29.75"}
        %line{:x1 => "6", :x2 => "6", :y1 => "30.25", :y2 => "36"}
        %line{:x1 => "8", :x2 => "8", :y1 => "0", :y2 => "36"}
        %line{:x1 => "10", :x2 => "10", :y1 => "0", :y2 => "36"}
        %line{:x1 => "12", :x2 => "12", :y1 => "0", :y2 => "11.75"}
        %line{:x1 => "12", :x2 => "12", :y1 => "12.25", :y2 => "23.75"}
        %line{:x1 => "12", :x2 => "12", :y1 => "24.25", :y2 => "36"}
        %line{:x1 => "14", :x2 => "14", :y1 => "0", :y2 => "36"}
        %line{:x1 => "16", :x2 => "16", :y1 => "0", :y2 => "36"}
        %line.grid-middle{:x1 => "18", :x2 => "18", :y1 => "0", :y2 => "5.75"}
        %line.grid-middle{:x1 => "18", :x2 => "18", :y1 => "6.25", :y2 => "17.75"}
        %line.grid-middle{:x1 => "18", :x2 => "18", :y1 => "18.25", :y2 => "29.75"}
        %line.grid-middle{:x1 => "18", :x2 => "18", :y1 => "30.25", :y2 => "36"}
        %line{:x1 => "20", :x2 => "20", :y1 => "0", :y2 => "36"}
        %line{:x1 => "22", :x2 => "22", :y1 => "0", :y2 => "36"}
        %line{:x1 => "24", :x2 => "24", :y1 => "0", :y2 => "11.75"}
        %line{:x1 => "24", :x2 => "24", :y1 => "12.25", :y2 => "23.75"}
        %line{:x1 => "24", :x2 => "24", :y1 => "24.25", :y2 => "36"}
        %line{:x1 => "26", :x2 => "26", :y1 => "0", :y2 => "36"}
        %line{:x1 => "28", :x2 => "28", :y1 => "0", :y2 => "36"}
        %line{:x1 => "30", :x2 => "30", :y1 => "0", :y2 => "5.75"}
        %line{:x1 => "30", :x2 => "30", :y1 => "6.25", :y2 => "17.75"}
        %line{:x1 => "30", :x2 => "30", :y1 => "18.25", :y2 => "29.75"}
        %line{:x1 => "30", :x2 => "30", :y1 => "30.25", :y2 => "36"}
        %line{:x1 => "32", :x2 => "32", :y1 => "0", :y2 => "36"}
        %line{:x1 => "34", :x2 => "34", :y1 => "0", :y2 => "36"}
        %line{:x1 => "36", :x2 => "36", :y1 => "0", :y2 => "36"}
        %line.grid-border{:x1 => "36.25", :x2 => "36.25", :y1 => "-0.25", :y2 => "36.25"}
        / Outer Diamond 01 (D4)
        %line.grid-diamond{:x1 => "5.75", :x2 => "6", :y1 => "6", :y2 => "5.75"}
        %line.grid-diamond{:x1 => "6", :x2 => "6.25", :y1 => "5.75", :y2 => "6"}
        %line.grid-diamond{:x1 => "5.75", :x2 => "6", :y1 => "6", :y2 => "6.25"}
        %line.grid-diamond{:x1 => "6", :x2 => "6.25", :y1 => "6.25", :y2 => "6"}
        / Outer Diamond 02 (D10)
        %line.grid-diamond{:x1 => "17.75", :x2 => "18", :y1 => "6", :y2 => "5.75"}
        %line.grid-diamond{:x1 => "18", :x2 => "18.25", :y1 => "5.75", :y2 => "6"}
        %line.grid-diamond{:x1 => "17.75", :x2 => "18", :y1 => "6", :y2 => "6.25"}
        %line.grid-diamond{:x1 => "18", :x2 => "18.25", :y1 => "6.25", :y2 => "6"}
        / Outer Diamond 03 (D16)
        %line.grid-diamond{:x1 => "29.75", :x2 => "30", :y1 => "6", :y2 => "5.75"}
        %line.grid-diamond{:x1 => "30", :x2 => "30.25", :y1 => "5.75", :y2 => "6"}
        %line.grid-diamond{:x1 => "29.75", :x2 => "30", :y1 => "6", :y2 => "6.25"}
        %line.grid-diamond{:x1 => "30", :x2 => "30.25", :y1 => "6.25", :y2 => "6"}
        / Inner Diamond 01 (G7)
        %line.grid-diamond{:x1 => "11.75", :x2 => "12", :y1 => "12", :y2 => "11.75"}
        %line.grid-diamond{:x1 => "12", :x2 => "12.25", :y1 => "11.75", :y2 => "12"}
        %line.grid-diamond{:x1 => "11.75", :x2 => "12", :y1 => "12", :y2 => "12.25"}
        %line.grid-diamond{:x1 => "12", :x2 => "12.25", :y1 => "12.25", :y2 => "12"}
        / Inner Diamond 02 (G13)
        %line.grid-diamond{:x1 => "23.75", :x2 => "24", :y1 => "12", :y2 => "11.75"}
        %line.grid-diamond{:x1 => "24", :x2 => "24.25", :y1 => "11.75", :y2 => "12"}
        %line.grid-diamond{:x1 => "23.75", :x2 => "24", :y1 => "12", :y2 => "12.25"}
        %line.grid-diamond{:x1 => "24", :x2 => "24.25", :y1 => "12.25", :y2 => "12"}
        / Outer Diamond 04 (K4)
        %line.grid-diamond{:x1 => "5.75", :x2 => "6", :y1 => "18", :y2 => "17.75"}
        %line.grid-diamond{:x1 => "6", :x2 => "6.25", :y1 => "17.75", :y2 => "18"}
        %line.grid-diamond{:x1 => "5.75", :x2 => "6", :y1 => "18", :y2 => "18.25"}
        %line.grid-diamond{:x1 => "6", :x2 => "6.25", :y1 => "18.25", :y2 => "18"}
        / Center Diamond
        %polygon.grid-diamond{:points => "18,17.75 17.75,18 18,18.25 18.25,18"}
        / Outer Diamond 05 (K16)
        %line.grid-diamond{:x1 => "29.75", :x2 => "30", :y1 => "18", :y2 => "17.75"}
        %line.grid-diamond{:x1 => "30", :x2 => "30.25", :y1 => "17.75", :y2 => "18"}
        %line.grid-diamond{:x1 => "29.75", :x2 => "30", :y1 => "18", :y2 => "18.25"}
        %line.grid-diamond{:x1 => "30", :x2 => "30.25", :y1 => "18.25", :y2 => "18"}
        / Inner Diamond 03 (M7)
        %line.grid-diamond{:x1 => "11.75", :x2 => "12", :y1 => "24", :y2 => "23.75"}
        %line.grid-diamond{:x1 => "12", :x2 => "12.25", :y1 => "23.75", :y2 => "24"}
        %line.grid-diamond{:x1 => "11.75", :x2 => "12", :y1 => "24", :y2 => "24.25"}
        %line.grid-diamond{:x1 => "12", :x2 => "12.25", :y1 => "24.25", :y2 => "24"}
        / Inner Diamond 04 (M13)
        %line.grid-diamond{:x1 => "23.75", :x2 => "24", :y1 => "24", :y2 => "23.75"}
        %line.grid-diamond{:x1 => "24", :x2 => "24.25", :y1 => "23.75", :y2 => "24"}
        %line.grid-diamond{:x1 => "23.75", :x2 => "24", :y1 => "24", :y2 => "24.25"}
        %line.grid-diamond{:x1 => "24", :x2 => "24.25", :y1 => "24.25", :y2 => "24"}
        / Outer Diamond 06 (P4)
        %line.grid-diamond{:x1 => "5.75", :x2 => "6", :y1 => "30", :y2 => "29.75"}
        %line.grid-diamond{:x1 => "6", :x2 => "6.25", :y1 => "29.75", :y2 => "30"}
        %line.grid-diamond{:x1 => "5.75", :x2 => "6", :y1 => "30", :y2 => "30.25"}
        %line.grid-diamond{:x1 => "6", :x2 => "6.25", :y1 => "30.25", :y2 => "30"}
        / Outer Diamond 07 (P10)
        %line.grid-diamond{:x1 => "17.75", :x2 => "18", :y1 => "30", :y2 => "29.75"}
        %line.grid-diamond{:x1 => "18", :x2 => "18.25", :y1 => "29.75", :y2 => "30"}
        %line.grid-diamond{:x1 => "17.75", :x2 => "18", :y1 => "30", :y2 => "30.25"}
        %line.grid-diamond{:x1 => "18", :x2 => "18.25", :y1 => "30.25", :y2 => "30"}
        / Outer Diamond 08 (P16)
        %line.grid-diamond{:x1 => "29.75", :x2 => "30", :y1 => "30", :y2 => "29.75"}
        %line.grid-diamond{:x1 => "30", :x2 => "30.25", :y1 => "29.75", :y2 => "30"}
        %line.grid-diamond{:x1 => "29.75", :x2 => "30", :y1 => "30", :y2 => "30.25"}
        %line.grid-diamond{:x1 => "30", :x2 => "30.25", :y1 => "30.25", :y2 => "30"}
      %g#pointInstances
        %use#a1.points.row-a.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a2.points.row-a.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a3.points.row-a.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a4.points.row-a.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a5.points.row-a.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a6.points.row-a.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a7.points.row-a.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a8.points.row-a.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a9.points.row-a.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a10.points.row-a.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a11.points.row-a.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a12.points.row-a.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a13.points.row-a.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a14.points.row-a.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a15.points.row-a.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a16.points.row-a.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a17.points.row-a.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a18.points.row-a.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#a19.points.row-a.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0"}
        %use#b1.points.row-b.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b2.points.row-b.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b3.points.row-b.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b4.points.row-b.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b5.points.row-b.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b6.points.row-b.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b7.points.row-b.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b8.points.row-b.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b9.points.row-b.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b10.points.row-b.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b11.points.row-b.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b12.points.row-b.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b13.points.row-b.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b14.points.row-b.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b15.points.row-b.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b16.points.row-b.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b17.points.row-b.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b18.points.row-b.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#b19.points.row-b.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2"}
        %use#c1.points.row-c.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c2.points.row-c.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c3.points.row-c.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c4.points.row-c.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c5.points.row-c.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c6.points.row-c.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c7.points.row-c.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c8.points.row-c.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c9.points.row-c.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c10.points.row-c.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c11.points.row-c.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c12.points.row-c.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c13.points.row-c.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c14.points.row-c.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c15.points.row-c.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c16.points.row-c.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c17.points.row-c.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c18.points.row-c.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#c19.points.row-c.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4"}
        %use#d1.points.row-d.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d2.points.row-d.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d3.points.row-d.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d4.points.row-d.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d5.points.row-d.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d6.points.row-d.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d7.points.row-d.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d8.points.row-d.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d9.points.row-d.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d10.points.row-d.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d11.points.row-d.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d12.points.row-d.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d13.points.row-d.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d14.points.row-d.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d15.points.row-d.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d16.points.row-d.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d17.points.row-d.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d18.points.row-d.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#d19.points.row-d.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6"}
        %use#e1.points.row-e.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e2.points.row-e.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e3.points.row-e.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e4.points.row-e.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e5.points.row-e.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e6.points.row-e.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e7.points.row-e.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e8.points.row-e.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e9.points.row-e.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e10.points.row-e.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e11.points.row-e.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e12.points.row-e.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e13.points.row-e.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e14.points.row-e.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e15.points.row-e.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e16.points.row-e.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e17.points.row-e.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e18.points.row-e.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#e19.points.row-e.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "8"}
        %use#f1.points.row-f.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f2.points.row-f.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f3.points.row-f.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f4.points.row-f.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f5.points.row-f.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f6.points.row-f.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f7.points.row-f.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f8.points.row-f.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f9.points.row-f.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f10.points.row-f.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f11.points.row-f.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f12.points.row-f.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f13.points.row-f.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f14.points.row-f.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f15.points.row-f.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f16.points.row-f.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f17.points.row-f.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f18.points.row-f.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#f19.points.row-f.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "10"}
        %use#g1.points.row-g.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g2.points.row-g.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g3.points.row-g.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g4.points.row-g.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g5.points.row-g.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g6.points.row-g.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g7.points.row-g.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g8.points.row-g.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g9.points.row-g.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g10.points.row-g.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g11.points.row-g.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g12.points.row-g.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g13.points.row-g.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g14.points.row-g.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g15.points.row-g.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g16.points.row-g.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g17.points.row-g.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g18.points.row-g.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#g19.points.row-g.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "12"}
        %use#h1.points.row-h.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h2.points.row-h.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h3.points.row-h.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h4.points.row-h.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h5.points.row-h.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h6.points.row-h.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h7.points.row-h.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h8.points.row-h.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h9.points.row-h.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h10.points.row-h.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h11.points.row-h.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h12.points.row-h.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h13.points.row-h.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h14.points.row-h.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h15.points.row-h.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h16.points.row-h.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h17.points.row-h.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h18.points.row-h.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#h19.points.row-h.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "14"}
        %use#i1.points.row-i.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i2.points.row-i.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i3.points.row-i.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i4.points.row-i.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i5.points.row-i.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i6.points.row-i.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i7.points.row-i.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i8.points.row-i.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i9.points.row-i.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i10.points.row-i.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i11.points.row-i.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i12.points.row-i.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i13.points.row-i.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i14.points.row-i.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i15.points.row-i.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i16.points.row-i.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i17.points.row-i.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i18.points.row-i.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#i19.points.row-i.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "16"}
        %use#j1.points.row-j.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j2.points.row-j.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j3.points.row-j.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j4.points.row-j.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j5.points.row-j.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j6.points.row-j.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j7.points.row-j.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j8.points.row-j.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j9.points.row-j.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j10.points.row-j.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j11.points.row-j.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j12.points.row-j.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j13.points.row-j.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j14.points.row-j.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j15.points.row-j.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j16.points.row-j.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j17.points.row-j.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j18.points.row-j.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#j19.points.row-j.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "18"}
        %use#k1.points.row-k.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k2.points.row-k.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k3.points.row-k.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k4.points.row-k.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k5.points.row-k.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k6.points.row-k.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k7.points.row-k.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k8.points.row-k.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k9.points.row-k.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k10.points.row-k.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k11.points.row-k.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k12.points.row-k.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k13.points.row-k.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k14.points.row-k.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k15.points.row-k.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k16.points.row-k.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k17.points.row-k.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k18.points.row-k.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#k19.points.row-k.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "20"}
        %use#l1.points.row-l.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l2.points.row-l.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l3.points.row-l.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l4.points.row-l.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l5.points.row-l.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l6.points.row-l.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l7.points.row-l.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l8.points.row-l.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l9.points.row-l.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l10.points.row-l.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l11.points.row-l.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l12.points.row-l.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l13.points.row-l.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l14.points.row-l.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l15.points.row-l.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l16.points.row-l.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l17.points.row-l.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l18.points.row-l.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#l19.points.row-l.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "22"}
        %use#m1.points.row-m.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m2.points.row-m.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m3.points.row-m.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m4.points.row-m.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m5.points.row-m.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m6.points.row-m.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m7.points.row-m.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m8.points.row-m.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m9.points.row-m.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m10.points.row-m.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m11.points.row-m.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m12.points.row-m.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m13.points.row-m.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m14.points.row-m.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m15.points.row-m.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m16.points.row-m.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m17.points.row-m.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m18.points.row-m.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#m19.points.row-m.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "24"}
        %use#n1.points.row-n.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n2.points.row-n.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n3.points.row-n.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n4.points.row-n.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n5.points.row-n.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n6.points.row-n.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n7.points.row-n.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n8.points.row-n.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n9.points.row-n.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n10.points.row-n.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n11.points.row-n.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n12.points.row-n.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n13.points.row-n.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n14.points.row-n.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n15.points.row-n.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n16.points.row-n.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n17.points.row-n.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n18.points.row-n.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#n19.points.row-n.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "26"}
        %use#o1.points.row-o.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o2.points.row-o.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o3.points.row-o.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o4.points.row-o.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o5.points.row-o.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o6.points.row-o.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o7.points.row-o.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o8.points.row-o.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o9.points.row-o.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o10.points.row-o.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o11.points.row-o.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o12.points.row-o.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o13.points.row-o.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o14.points.row-o.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o15.points.row-o.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o16.points.row-o.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o17.points.row-o.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o18.points.row-o.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#o19.points.row-o.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "28"}
        %use#p1.points.row-p.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p2.points.row-p.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p3.points.row-p.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p4.points.row-p.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p5.points.row-p.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p6.points.row-p.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p7.points.row-p.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p8.points.row-p.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p9.points.row-p.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p10.points.row-p.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p11.points.row-p.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p12.points.row-p.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p13.points.row-p.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p14.points.row-p.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p15.points.row-p.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p16.points.row-p.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p17.points.row-p.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p18.points.row-p.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#p19.points.row-p.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "30"}
        %use#q1.points.row-q.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q2.points.row-q.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q3.points.row-q.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q4.points.row-q.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q5.points.row-q.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q6.points.row-q.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q7.points.row-q.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q8.points.row-q.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q9.points.row-q.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q10.points.row-q.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q11.points.row-q.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q12.points.row-q.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q13.points.row-q.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q14.points.row-q.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q15.points.row-q.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q16.points.row-q.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q17.points.row-q.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q18.points.row-q.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#q19.points.row-q.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "32"}
        %use#r1.points.row-r.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r2.points.row-r.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r3.points.row-r.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r4.points.row-r.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r5.points.row-r.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r6.points.row-r.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r7.points.row-r.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r8.points.row-r.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r9.points.row-r.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r10.points.row-r.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r11.points.row-r.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r12.points.row-r.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r13.points.row-r.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r14.points.row-r.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r15.points.row-r.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r16.points.row-r.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r17.points.row-r.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r18.points.row-r.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#r19.points.row-r.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "34"}
        %use#s1.points.row-s.col-1{:x => "0", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s2.points.row-s.col-2{:x => "2", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s3.points.row-s.col-3{:x => "4", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s4.points.row-s.col-4{:x => "6", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s5.points.row-s.col-5{:x => "8", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s6.points.row-s.col-6{:x => "10", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s7.points.row-s.col-7{:x => "12", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s8.points.row-s.col-8{:x => "14", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s9.points.row-s.col-9{:x => "16", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s10.points.row-s.col-10{:x => "18", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s11.points.row-s.col-11{:x => "20", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s12.points.row-s.col-12{:x => "22", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s13.points.row-s.col-13{:x => "24", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s14.points.row-s.col-14{:x => "26", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s15.points.row-s.col-15{:x => "28", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s16.points.row-s.col-16{:x => "30", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s17.points.row-s.col-17{:x => "32", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s18.points.row-s.col-18{:x => "34", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
        %use#s19.points.row-s.col-19{:x => "36", "xlink:href" => "#points", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "36"}
